<div class="container">
  <div class="row justify-content-md-center">
    <div class="">
      <%= form_for([@bug.project, @bug]) do |form| %>
       <h2>Add New Bug or Feature</h2>
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title, minlength: 5, maxlength:30, :required => true, :class => "form-controler", :placeholder => "Title"  %>
        </p>
        <p>
          <%= form.label :deadline %><br>
          <%= form.text_field :deadline , minlength: 5, maxlength:30, :class => "form-controler", :placeholder => "Deadline" %>
        </p>
        <p>
          <%= form.label :type %><br>
          <%= form.select :bug_type, ['Bug','Feature'], :required => true, :id => "type" %>
        </p>
        <p>
          <%= form.label :status %><br>
          <%= form.select :status, [ 'New', 'Started', 'Completed'], required: true, id: 'status' %> </p>
        <p>
        <p>
          <%= form.hidden_field :qa_id, :readonly => true, :id => "qa_id", value: current_user.id  %>
        </p>
        <p>
        <p> <%= form.label :screenshot %><br>
           <%= form.file_field :screenshot, :class => "btn btn-primary" %>
        </p>
         <%= form.submit :class => "btn btn-primary"%>
        </p>
      <% end %>
    </div>
  </div>
  <%= link_to "Back",  projects_path %>
</div>